<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Les gens nuls</title>

    <style>
        article {
            background-color: red;
        }
    </style>

</head>
<body>

<article>
    <h1>Les Gens Nuls</h1>
    <ul>
        {% for category in categories %}
            {% if category .published %}
            <li>{{ category. title }}</li>
            <img src="{{ category. image }}" alt="Les gens trop chiants de France">
                {{ "now"|date("d/m/Y") }}
            {% endif %}
        {% endfor %}

    </ul>
</article>

</body>
</html>