{% include '_head.html.twig' %}
<body>

<article>
    <h1>Les Gens Nuls</h1>
    <ul>
        {% for category in categories %}
            {% if category .published %}
            <li>{{ category. title }}</li>
            <img src="{{ category. image }}" alt="Les gens trop chiants de France">
                <a href="{{  path('home') }}">Acceuil</a>

                {{ category. publishedDate|date("d/m/Y") }}
            {% endif %}
        {% endfor %}

    </ul>
</article>

{% include '_footer.html.twig' %}
